body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%; }

header {
  background-color: #F5F5F5;
  border-bottom: 1px solid #e4e4e5;
  height: 50px; }
  header .mega-octicon {
    font-size: 28px;
    left: 8em; }
  header span {
    color: black;
    position: relative;
    left: 7.5em;
    padding: 10px 0; }
    header span .octicon-octicon-triangle-down {
      font-size: 14px; }
    header span:hover {
      color: #4078C0; }
  header .buttons {
    position: relative;
    left: 67%;
    bottom: 4em; }
    header .buttons img {
      width: 25px;
      border-radius: 5%;
      position: relative;
      left: 8em;
      top: 0.3em;
      padding-right: 8px; }
    header .buttons a {
      padding-right: 5px; }
  header input {
    position: relative;
    left: 7.5em;
    bottom: 0.1em;
    width: 350px;
    font-size: 30px; }
  header ul {
    margin: 0;
    padding: 0; }
    header ul li {
      position: relative;
      left: 45em;
      bottom: 2.5em;
      padding: 5px;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: bold;
      display: inline-block; }
      header ul li a {
        text-decoration: none;
        color: black; }
        header ul li a:hover {
          color: #4078C0; }

main {
  width: auto; }

.aside {
  width: 18%;
  margin-left: 14em;
  margin-top: 1.5em;
  float: left;
  border-bottom: 1px solid #DDDDDD;
  font-family: sans-serif; }
  .aside .name h3 {
    font-size: 24px;
    margin: 0; }
  .aside .name p {
    margin-top: 0;
    color: #66656F; }
  .aside .image img {
    width: 240px;
    border-radius: 5%; }
  .aside .name {
    border-bottom: 1px solid #DDDDDD; }
  .aside .info {
    border-bottom: 1px solid #DDDDDD;
    margin-top: 1em; }
    .aside .info span {
      padding-right: .5em; }
    .aside .info a {
      text-decoration: none;
      color: #4078C0; }
      .aside .info a:hover {
        text-decoration: underline; }
  .aside .counter {
    width: auto;
    color: #4078C0;
    font-size: 24px;
    margin: 0;
    padding: .5em 0; }
    .aside .counter .numbers {
      display: inline;
      float: left;
      padding-right: 1em;
      margin-left: 1.6em; }
    .aside .counter .titles {
      display: inline; }
      .aside .counter .titles a {
        text-decoration: none;
        color: #888888;
        font-size: 10px;
        padding-right: 2em;
        margin: 0 0 0 2em; }

.repos {
  float: left;
  padding-left: 15px;
  width: 48%;
  margin-right: 14em;
  position: relative;
  top: 6em;
  color: #888888;
  font-family: sans-serif; }
  .repos h3 {
    border-top: 1px solid #DDDDDD;
    padding: 19px 0 0 0; }
    .repos h3 a {
      text-decoration: none;
      color: #4078C0;
      font-size: 24px; }
      .repos h3 a:hover {
        text-decoration: underline; }
  .repos .lang {
    float: right;
    position: relative;
    left: .5em;
    bottom: 5em;
    right: 10em;
    padding-right: .5em;
    font-weight: bold; }
  .repos p {
    font-size: 12px; }
    .repos p a {
      padding-right: .5em;
      text-decoration: none;
      color: #888888; }
